.texto {background-color:  #3ffff3;
}
h1 {font-family: "Poppins", sans-serif; font-weight: 700; font-size: 78,66666666666666px; color: #0a2ff1;
}
p {font-family: "Poppins", sans-serif; font-weight: 400; font-size: 30,666666666666664px; color: #0a2ff1;
}
img{width: 200px;
}