h1 {
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    color:  #0a2ff1;
}
.marcas, .texto {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
}
img {
    margin: 2%;
    justify-content: center;
    
}
.it, .wp{
    width: 150px;
}
.ia, .wh {
    width: 160px;
}
.nj {
    width: 170px;
}